 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

.main {
  width: 450px;
  height: 500px;
  margin: auto;
}

.checkout{
  height: 100%;
}
.bg-text{
  font-size: 1.5rem;
  font-weight: 700;
}

.btn{
  padding: 12px;
  margin-top: 15px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover{
  background-color: blue;
  color: #fff;
}
.small-text{
  font-size: 14px;
}
.card-input{
  padding-bottom: 10px;
}

.card {
  padding: 14px 10px 10px;
  width: 80%;
  background-color: #fcfcfc;
  border: 1px solid #000000;
  outline: none;
  letter-spacing: 1px;
  transform: 0.3px;
  border-radius: 3px;
  color: #333;
}

.card-success{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #98f5e1;
  color: #236c5b;
  border-radius: 3px;
  margin-top: 10px;
}

.card-error{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fad2e1;
  color: #7c193d;
  border-radius: 3px;
  margin-top: 10px;
}

.checkout-header{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}